[package]
name = "webserver"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0"
strum = { version = "0.27", features = ["derive"] }
tokio = { version = "1.48", features = ["full"] }
tracing = "0.1"
tracing-subscriber = "0.3"
